@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --veryDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --poppins: 'Poppins', sans-serif;
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: var(--veryLightGray);
    height: 100vh;
    width: 100vw;
    font-family: var(--poppins);
    overflow-x: hidden;
}

.main-container {
    width: 320px;
    margin: 80px auto; 
    padding: 13px;
    margin-bottom: 40px;
}

.heading {
   font-size: 15px; 
   text-align: center;
}

.heading .first {
    font-size: 24px;
    font-weight: 200;
    color: var(--veryDarkBlue);
}

.heading .second {
    color: var(--veryDarkBlue);
    padding-bottom: 15px;
    font-size: 24px
}

.heading p {
    color: var(--grayishBlue);
    padding-bottom: 50px;
}

.card {
    border: hidden;
    border-radius: 5px;
    margin-bottom: 30px;
    background: white;
    box-shadow: 11px 10px 10px 0 #80808021;
}

.top-color {
    display: block;
    height: 5px;
    border-radius: 5px 5px 0 0;
}

.cyan {
    background: var(--cyan);
}

.red {
    background: var(--red);
}

.orange {
    background: var(--orange);
}

.blue {
    background: var(--blue);
}

.content {
    padding: 20px;
}

.content h3 {
    color: var(--veryDarkBlue);
    padding-bottom: 7px;
}

.content p {
    color: var(--grayishBlue);
    font-size: 13px;
    padding-bottom: 30px;
}

.img-container {
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 1024px) {
    .main-container {
        width: 1024px;
        margin-top: 40px;
    }
    .heading {
        width: 500px;
        margin: 0 auto;
    }
    .info {
        position: relative;
    } 
    .card{
        width: 320px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .supervisor{
        position: absolute;
        left: 0;
        top: 115px;
    }
    .calculator{
        position: absolute;
        right: 0;
        top: 115px;
    }
}